body {
    line-height: 1.3em;
    margin: .5em;
    padding: 0;
    background-color:#ffffffff;
}

#banana { cursor: pointer; }

.banana { background-color:#ffec04; }
.banana a { color:#3c7f9c; }
.banana .systems,
.banana .pagination { user-select: none; }


h1 {
    font-size: 1em;
    font-weight: normal;
    margin: 0; padding: 0;
}

a { 
    color: #0000EE; cursor: pointer; text-decoration: none;
}
a:hover { text-decoration: underline; }

.urls {
    line-height: 1.5em;
}

.info { color: #666; }

a:visited {
    color: #551A8B;
}

.tpl { display:none; }

.header { margin-bottom: 1em; }
.head { display:inline-block; }
.links { float: right; }

.results {
    margin: 1em 0 1.3em 0;
}
.systems {
    margin: 1em 0 1.3em 0;    
}

#searchform [type=search] {
    min-width: 200px;
}

.tag {
    color: #666;
    border: 1px solid #999;
    padding: 2px 2px 0;
    margin: 0 2px;
    border-radius: .17em;
    font-size: smaller;
    white-space: nowrap;
    background-color:#ffffffff;
    cursor: pointer;
}
.tag.selected { color:#000; outline: 1px solid red; }

.showset {
    cursor: pointer; margin: 0 5px;
}

.date { font-size: smaller; margin: 1em 1em 0.5em; }
.date hr { padding: 0; margin: 0; border:0;  border-bottom: 1px solid #ddd; }

.dupes {
    display: none;
}

.pagination { margin: 2em 0em 1em 0em; }
.pagination a.disabled { color: #666; pointer-events: none; }
.pagination a.selected { font-weight: bold; color: #000; pointer-events: none; }
.page-prev::before { content:'◄'; font-size:0.75em; }
.page-next::after { content:'►'; font-size:0.75em; }

.pagination a {
    color: #333;
    display:inline-block;
    padding: 0.25em 0.30em 0.25em 0.30em;
}
.pagination a:hover {
    background-color: #f5f5f5;
    text-decoration: none;
}        
